<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>foo</title>
    <script src="/js/lib/jquery.js"></script>
    <!--<script src="http://cdn.static.runoob.com/libs/jquery/2.0.0/jquery.min.js"></script>-->
    <script src="/js/demo/foo.js"></script>
    <script src="/js/demo/jquerydemo.js"></script>
    <link type="text/css" rel="stylesheet" media="all" href="/css/demo.css"/>
</head>
<body>
<div>
    <div class="background">
        <div>
            <h2>Test show enter msg</h2>
            <div>
                <input id="input_send" type="text" placeholder="input..." value>
                <span>Input value:</span>
                <span id="input_show"></span>
                <br>
                <button type="button" onclick="showInput();">
                    <span>submit</span>
                </button>
            </div>
            <h2>Test Alert</h2>
            <div>
                <button id="alert" type="button">
                    <span>click_show_alert</span>
                </button>
                <button id="confirm" type="button">
                    <span>click_show_confirm</span>
                </button>
                <button id="prompt" type="button">
                    <span>click_show _prompt</span>
                </button>
            </div>
            <h2>Test HTTP Get</h2>
            <div>
                <button type="button" onclick="testGet();">testGet</button>
            </div>
            <h2>Test HTTP Post</h2>
            <div>
                <input id="user_name" type="text" placeholder="please enter name">
                <br>
                <input id="user_age" type="text" placeholder="please enter age">
                <br>
                <button type="button" onclick="testPost();">
                    <span>sign in</span>
                </button>
                <span id="show_user"></span>
            </div>
            <h2>Test JQuery Selector</h2>
            <div>
                <button id="hide1">id to hide</button>
                <button class="hide2">class to hide1</button>
                <button class="hide3">class to hide2</button>
                <button title="hide4">property to hide</button>
            </div>
            <div>
                <ul>
                    <li>
                        <button>first</button>
                    </li>
                    <li>
                        <button>2</button>
                    </li>
                    <li>
                        <button>last-child</button>
                    </li>
                </ul>
            </div>
            <h2>Test JQuery Event</h2>
            <div>
                <button id="event">Event</button>
                <input id="focus" type="text">
            </div>
            <h2>Test JQuery Animation Effect</h2>
            <h4>hide/show/toggle</h4>
            <div>
                <button id="hide_show1">hide/show</button>
                <button id="hide_show2">toggle</button>
                <button id="shower">shower</button>
            </div>
            <h4>fadeIn/fadeOut/fadeToggle</h4>
            <div>
                <button id="fadeIn">fadeIn</button>
                <div id="div1" style="width:80px;height:80px;display:none;background-color:red;"></div>
                <br>
                <div id="div2" style="width:80px;height:80px;display:none;background-color:green;"></div>
                <br>
                <div id="div3" style="width:80px;height:80px;display:none;background-color:blue;"></div>
                <br>
            </div>
            <h4>slideDown/slideUp/slideToggle</h4>
            <div>
                <div id="flip">flip</div>
                <div id="panel">Hello World</div>
            </div>
            <h4>animate</h4>
            <div>
                <button class="default_div">default</button>
                <button id="stop_animate">stop</button>
                <button id="animate0">Toggle</button>
                <button id="animate1">animate1</button>
                <button id="animate2">animate2</button>
                <button id="animate3">animate3</button>
                <button id="animate4">animate callback</button>
                <button id="animate5">Chaining</button>
                <div id="animate" class="animate"
                     style="background:#98bf21;height:100px;width:100px;position:relative;">HELLO
                </div>
            </div>
            <br>
            <h2>Test JQuery HTML</h2>
            <h4>Catch/Set HTML</h4>
            <div>
                <button id="show_text_and_val">show_text_html_attr_val</button>
                <button id="change_text_and_val">change_text_html_attr_val</button>
                <button id="change_callback">change_callback</button>
                <p><a id="text" href="https://www.baidu.com">original text</a></p>
                <input id="val" value="original val">
            </div>
            <h4>append|prepend|before|after|remove|empty</h4>
            <div>
                <button id="append_prepend_before_after_button">append_prepend_before_after</button>
                <button id="remove">remove id=foo1</button>
                <button id="removeAll">remove All</button>
                <button id="empty">empty</button>
                <div id="empty_div">
                    <p>
                        <span id="append_prepend_before_after_span"> span </span>
                    </p>
                </div>
            </div>
            <h4>add|remove|toggle class</h4>
            <div>
                <p id="css_class">Text_Line</p>
                <button id="add_class">add_class</button>
                <button id="remove_class">remove_class</button>
                <button id="toggle_class">toggle_class</button>
            </div>
            TODO CSS
        </div>
    </div>
</div>
</body>
</html>