<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>foo</title>
    <script src="/js/lib/jquery.js"></script>
    <!--<script src="http://cdn.static.runoob.com/libs/jquery/2.0.0/jquery.min.js"></script>-->
    <script src="/js/demo/foo.js"></script>
    <script src="/js/demo/jquerydemo.js"></script>
</head>
<body>
<div>
    <div>
        <div>
            Test show enter msg
            <div>
                <input id="input_send" type="text" placeholder="input..." value>
                <span>Input value:</span>
                <span id="input_show"></span>
                <br>
                <button type="button" onclick="showInput();">
                    <span>submit</span>
                </button>
            </div>
            <br>
            Test HTTP Get
            <div>
                <button type="button" onclick="testGet();">testGet</button>
            </div>
            <br>
            Test HTTP Post
            <div>
                <input id="user_name" type="text" placeholder="please enter name">
                <br>
                <input id="user_age" type="text" placeholder="please enter age">
                <br>
                <button type="button" onclick="testPost();">
                    <span>sign in</span>
                </button>
                <span id="show_user"></span>
            </div>
            <br>
            Test JQuery Selector
            <div>
                <button id="hide1">id to hide</button>
                <button class="hide2">class to hide1</button>
                <button class="hide3">class to hide2</button>
                <button title="hide4">property to hide</button>
            </div>
            <div>
                <ul>
                    <li>
                        <button>first</button>
                    </li>
                    <li>
                        <button>2</button>
                    </li>
                    <li>
                        <button>last-child</button>
                    </li>
                </ul>
            </div>
            <br>
            Test JQuery Event
            <div>
                <button id="event">Event</button>
                <input id="focus" type="text"/>
            </div>
            <br>
            TODO 隐藏、显示、切换，滑动，淡入淡出，以及动画
        </div>
    </div>
</div>
</body>
</html>